.app-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.header-area {
    grid-column: span 2;
    min-height: 150px;
}

.sidebar-area {
    min-height: calc(100vh - 200px);
}

.body-area {
    min-height: calc(100vh - 200px);
}

.footer-area {
    grid-column: span 2;
    height: 50px;
}