.app-grid {
    display: grid;
    grid-template-areas: 'header header' 'sidebar body' 'footer footer';
}

.header-area {
    grid-area: header;
    min-height: 150px;
}

.sidebar-area {
    grid-area: sidebar;
    min-height: calc(100vh - 200px);
}

.body-area {
    grid-area: body;
    min-height: calc(100vh - 200px);
}

.footer-area {
    grid-area: footer;
    height: 50px;
}